<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
    <title>Rent a Bike</title>
</head>
<body>
<!--###################################################################-->
<!--###################################################################-->
<!--###################################################################-->

<div th:fragment="login">
    <div class="login--box card jumbotron mx-auto mt-3">
        <article class="card-body">
            <form th:action="@{/login}" class="text-center" method="post">
                <fieldset>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>
                        <input type="submit" value="Sign in" class="btn btn-dark px-5">
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
    <div th:if="${param.error}" id="error" class="alert alert-danger login--box text-center mx-auto mt-2">
        Invalid username or password. Or something went wrong. Whatever
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <div class="m-5 text-center text-white">
        <div class="border border-success mb-2 row">
            <div class="col">
                <p class="">username: admin</p>
                <p class="">password: admin123</p>
            </div>
        </div>
        <div class="border border-success mb-2 row">
            <div class="col">
                <p class="">username: manager</p>
                <p class="">password: manager123</p>
            </div>
        </div>
        <div class="border border-success mb-2 row">
            <div class="col">
                <p class="">username: user</p>
                <p class="">password: user123</p>
            </div>
        </div>
    </div>
</div>

<!--###################################################################-->
<div th:fragment="welcome">
    <div sec:authorize="isAnonymous()" class="mx-auto p-2">
        <p class="display-3 text-center text-white">Welcome to our bike rental service!</p>
        <br>
        <p class="h-3 text-center text-white">Please log in and use the navigation according to your needs.</p>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')" class="mx-auto p-2">
        <p class="display-3 text-center text-white">Hello admin!</p>
    </div>
    <div sec:authorize="hasAuthority('MANAGER')" class="mx-auto p-2">
        <p class="display-3 text-center text-white">Hello manager!</p>
    </div>
    <div sec:authorize="hasAuthority('ROLE_USER')" class="mx-auto p-2">
        <p class="display-3 text-center text-white">Hello customer!</p>
    </div>
</div>
<!--###################################################################-->
<div th:fragment="managebike">

</div>
<!--###################################################################-->
<div class="p-3" th:fragment="rentbike">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Color</th>
            <th scope="col">Condition</th>
            <th scope="col">Rentable</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="bikeList" type="hw.loan.model.Bike"*/-->
        <!--/*@thymesVar id="bike" type="hw.loan.model.Bike"*/-->
        <tr th:each="bike : ${bikeList}">
            <th scope="row" th:text="${bike.getId()}"></th>
            <th scope="row" th:text="${bike.getBrand()}"></th>
            <th scope="row" th:text="${bike.getColor()}"></th>
            <th scope="row" th:text="${bike.getCondition()}"></th>
            <th scope="row" th:if="${bike.getRentable()} == 0 and ${bike.getUnderRepair()} == 0">
                <button disabled class="btn btn-dark" value="">:( Bike is already rented</button>
            </th>
            <th scope="row" th:if="${bike.getRentable()} == 0 and ${bike.getUnderRepair()} == 1">
                <button disabled class="btn btn-dark" value="">Bike is under repair</button>
            </th>
            <th scope="row" th:if="${bike.getRentable()} == 1">
                <a class="btn btn-success" th:href="@{/rentbike(bikeParam=${bike.getId()})}">Rent</a>
            </th>
        </tr>
        </form>
        </tbody>
    </table>
</div>
<!--###################################################################-->
<div th:fragment="manageusers">

</div>
<!--###################################################################-->
<div th:fragment="accesdenied">
    <p>Sry, you dont have acces to use this module.</p>
</div>

<!--###################################################################-->


<!--TODO: manage bike, etc pages implementation-->

<!--###################################################################-->
<!--###################################################################-->
<!--###################################################################-->
<script th:src="@{webjars/jquery/1.9.1/jquery.js}"></script>
<script th:src="@{webjars/popper.js/1.14.7/popper.js}"></script>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>