<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
    <title>Rent a Bike</title>
</head>
<body>
<!--###################################################################-->
<!--###################################################################-->
<!--###################################################################-->

<div th:fragment="content">
    <div th:if="${#httpServletRequest.requestURI == '/'}">
        <div th:replace="fragments/content-pages :: welcome"></div>
    </div>
    <div th:if="${#httpServletRequest.requestURI == '/login'}">
        <div th:replace="fragments/content-pages :: login"></div>
    </div>
    <div th:if="${#httpServletRequest.requestURI == '/rentbike'}">
        <div th:replace="fragments/content-pages :: rentbike"></div>
    </div>
    <div th:if="${#httpServletRequest.requestURI == '/managebikes'}">
        <div th:replace="fragments/content-pages :: managebikes"></div>
    </div>
    <div th:if="${#httpServletRequest.requestURI == '/403'}">
        <div th:replace="fragments/content-pages :: accesdenied"></div>
    </div>
</div>

<!--###################################################################-->
<!--###################################################################-->
<!--###################################################################-->
<script th:src="@{webjars/jquery/1.9.1/jquery.js}"></script>
<script th:src="@{webjars/popper.js/1.14.7/popper.js}"></script>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>