@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    weight: 100%;
}

body {
    min-height: 76vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(#344a72, #344a72);
}

.inner-body {
    min-height: 76vh;
}

.login--box {
    width: 40vh;
}