<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
    <title>Loan Manager</title>

</head>
<body>
<div class="inner-body">

    <div class="my-4">
        <p class="text-white text-center display-2">Please sign in:</p>
    </div>

    <div class="login--box card jumbotron mx-auto mt-3">
        <div class="container mx-auto text-center">
            <form th:action="@{/login}" class="text-center" method="post">
                <fieldset>
                    <div class="form-group">
                        <input id="email" name="email" type="text" placeholder="E-mail"
                               class="mb-1 form-control input-sm">
                        <input id="password" name="password" type="password" placeholder="Password"
                               class="mb-3 form-control">
                        <input type="submit" value="Sign in" class="btn btn-dark px-5">
                    </div>
                 </fieldset>
            </form>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password. Or something went wrong. Whatever
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
        </div>
    </div>
</div>

<script th:src="@{webjars/jquery/1.9.1/jquery.js}"></script>
<script th:src="@{webjars/popper.js/1.14.7/popper.js}"></script>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>


<!--a security form működik ez nem. rejtély-->